/* ======= ======= ======== xixiprofile======= ======= ======== */
/* ======= ======= ======== general ======= ======= ======== */

html, body {
    height: 100%;
    background-color: lightyellow;
}
	body {
    font-family: "Ariel", sans-serif;
}

/* ======= ======= ======= body ======= ======= ======== */

/* -- title -- */

#header{
	text-align: center;
	font-size: 50px;
	margin: 10px 10px;
}

/*Links*/
.links {
	font-size: 20px;
	/*border: 2px solid red;*/
}


/* -- image -- */
/*Not quite sure why this is not working*/

.imgag {
/*	display: inline-block;
*/	float: left;
	width: 35%;
	height: auto;
	margin: 5px;
	/*border: 2px solid red;*/
}

#headshot {
	width: 100%;
}


/* -- profile -- */
.container {
	display: inline-block;
	margin: 10px;
	float: right;
	width: 60%;
	height: 70%;
}

#c1 {
	font-size: 25px;
}

#c2 {
	font-size: 20px;
}

.box1 {
	padding: 5px 0px;
}

.box2 {
	padding: 20px 0px;
}	




/* ======= ======= ======== xixiclimbing ======= ======= ======== */
.img {
/*	display: inline-block;
*/	float: left;
	width: 350px;
	height: 400px;
	margin: 10px;
	border: 5px groove white;
	background-color: white
}

#headshot1{
	width: 100%;
	height: 350px;
/*	height: 400px;*/
}

.desc {
	text-align: center;
}





















